PORT=5000
# MONGO_URI=mongodb://localhost:27017/kiddvant
MONGO_URI=mongodb+srv://rajchowdhury712_db_user:8kOoVU3rvlI1ct1p@cluster0.z5lhdlr.mongodb.net/?appName=Cluster0
# rajchowdhury712_db_user
# 8kOoVU3rvlI1ct1p
